.hero {
    text-align: center;
    padding: 100px 20px;
    background: #f4f4f4;
  }
  
  .hero-conteudo h1 {
    color: #3cb371;
    font-size: 2.5em;
  }
  
  .hero-conteudo h3 {
    margin: 20px 0;
    font-size: 1.2em;
  }
  
  .hero-imagens-container figure {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .hero-imagens-container img {
    max-width: 100px;
    height: auto;
  }
  
  @media (max-width: 700px) {
    .hero {
        text-align: center;
        padding: 230px 20px;
        background: #f4f4f4;
      }
  }