<section class="hero" id="principal">
    <header class="hero-conteudo">
      <h1>ALTA VARIEDADE DE PRODUTOS</h1>
      <hr />
      <h3>Com o maior estoque e variedade da região, oferecemos mais de 5000 tipos de produtos para atender a todas as suas necessidades. Confie em nós, fornecedores escolhidos por mais de 350 empresas por ano. E o melhor? Entregamos para todos os estados brasileiros. Venha descobrir o que nos torna a escolha número um dos clientes há mais de duas décadas!</h3>
    </header>

    <div>
        
    </div>
    <div class="hero-imagens-container">
      <figure>
        <img src="assets/MARCAS/mc1.png" alt="">
        <img src="assets/MARCAS/mc2-ciferal.png" alt="ciferal">
        <img src="assets/MARCAS/mc4.png" alt="marcopolo">
        <img src="assets/MARCAS/mc5- fundo branco1.png" alt="Mafersa">
        <img src="assets/MARCAS/mc6.png" alt="Busscar">
        <img src="assets/MARCAS/mc7.png" alt="Caio">
        <img src="assets/MARCAS/mc8.png" alt="Mascarello">
        <img src="assets/MARCAS/mc9.png" alt="Comil">
        <img src="assets/MARCAS/mc10.png" alt="Volare">
        <img src="assets/MARCAS/mc11.png" alt="Neobus">
        <img src="assets/MARCAS/mc12.png" alt="Thamco">
        <img src="assets/MARCAS/mc13.png" alt="Mercedes-Bens">
      </figure>
    </div>
</section>
  