<div id="sobre-nos">
    <section id="historia">
      <h2>NOSSA HISTÓRIA</h2>
      <p>Nossas raízes começaram em 1991, quando nosso fundador começou a trabalhar numa empresa de transporte público, e lá teve a oportunidade de começar a aprender sobre ônibus...</p>
    </section>
    <section class="side">
      <h4>VALORES DA CARBUS</h4>
      <div class="values-container">
        <div class="value">
          <figure><i class="fas fa-handshake"></i></figure>
          <p>Sinergia</p>
        </div>
        <div class="value">
          <figure><i class="fas fa-people-group"></i></figure>
          <p>Proatividade</p>
        </div>
        <div class="value">
          <figure><i class="fas fa-ranking-star"></i></figure>
          <p>Excelência</p>
        </div>
      </div>
    </section>
  </div>
  