<div id="sobre-nos">
    <section id="historia">
      <h2>NOSSA HISTÓRIA</h2>
      <p>Nossas raízes começaram em 1991, quando nosso fundador começou a trabalhar numa empresa de transporte público, e lá teve a oportunidade de começar a aprender sobre ônibus. Após alguns anos aprendendo nesta empresa, começou a trabalhar com revenda de peças, onde conseguiu ampliar ainda mais seus conhecimentos sobre o mercado. O plano nunca foi iniciar uma empresa, porém em 2002 ele decidiu iniciar uma empresa trazendo tudo que aprendeu nesses 11 anos para a sua empresa, que nomeou de Carbus.</p>
        <p> Hoje a Carbus busca ter uma grande variedade de produtos com o objetivo de atender nossos clientes de forma completa e em conjunto, nossa equipe está constantemente em busca de aprimorar este conhecimento adquirido para tornar o atendimento ao cliente cada vez melhor. Nosso foco é fornecer constância e qualidade na variedade de produtos e um excelente relacionamento com os nossos colaboradores. </p>
    </section>
    <section class="side">
      <h4>VALORES DA CARBUS</h4>
      <div class="values-container">
        <div class="value">
          <figure><i class="fas fa-handshake"></i></figure>
          <p>Sinergia</p>
        </div>
        <div class="value">
          <figure><i class="fas fa-people-group"></i></figure>
          <p>Proatividade</p>
        </div>
        <div class="value">
          <figure><i class="fas fa-ranking-star"></i></figure>
          <p>Excelência</p>
        </div>
      </div>
    </section>
  </div>
  